<% provide(:title, "Carl Sagan") %>
<div class="content">
  <%= image_tag 'carl.jpg', class: 'img-responsive carl' %>
  <p>
    Carl Edward Sagan (November 9, 1934 – December 20, 1996) was an American
    astronomer, cosmologist, astrophysicist, astrobiologist, author, science
    popularizer, and science communicator in astronomy and other natural
    sciences. His contributions were central to the discovery of the high
    surface temperatures of Venus. However, he is best known for his
    contributions to the scientific research of extraterrestrial life,
    including experimental demonstration of the production of amino acids from
    basic chemicals by radiation. Sagan assembled the first physical messages
    that were sent into space: the Pioneer plaque and the Voyager Golden Record,
    universal messages that could potentially be understood by any
    extraterrestrial intelligence that might find them.
  </p>
  <p>
    He published more than 600 scientific papers and articles and was author,
    co-author or editor of more than 20 books. Sagan is known for many of his
    popular science books, such as The Dragons of Eden, Broca's Brain and Pale Blue
    Dot, and for the award-winning 1980 television series Cosmos: A Personal Voyage,
    which he narrated and co-wrote. The most widely watched series in the history of
    American public television, Cosmos has been seen by at least 500 million people
    across 60 different countries. The book Cosmos was published to accompany the
    series. He also wrote the science fiction novel Contact, the basis for a 1997
    film of the same name.
  </p>
  <p>
    Sagan always advocated scientific skeptical inquiry and the scientific method,
    pioneered exobiology and promoted the Search for Extra-Terrestrial Intelligence
    (SETI). He spent most of his career as a professor of astronomy at Cornell
    University, where he directed the Laboratory for Planetary Studies. Sagan and
    his works received numerous awards and honors, including the NASA Distinguished
    Public Service Medal, the National Academy of Sciences Public Welfare Medal,
    the Pulitzer Prize for General Non-Fiction for his book The Dragons of Eden,
    and, regarding Cosmos: A Personal Voyage, two Emmy Awards, the Peabody Award
    and the Hugo Award. He married three times and had five children. After
    suffering from myelodysplasia, Sagan died of pneumonia at the age of 62 on
    December 20, 1996.
  </p>
  <hr/>
  <%= image_tag 'pbd.jpg', class: 'img-responsive', style: "float: left; margin-right: 1em;" %>
  <p style="font-style: italic;">"From this distant vantage point, the
    Earth might not seem of any particular interest. But for us, it's different.
    Consider again that dot. That's here. That's home. That's us. On it everyone you
    love, everyone you know, everyone you ever heard of, every human being who ever
    was, lived out their lives. The aggregate of our joy and suffering, thousands of
    confident religions, ideologies, and economic doctrines, every hunter and forager,
    every hero and coward, every creator and destroyer of civilization, every king and
    peasant, every young couple in love, every mother and father, hopeful child,
    inventor and explorer, every teacher of morals, every corrupt politician, every
    "superstar," every "supreme leader," every saint and sinner in the history of our
    species lived there – on a mote of dust suspended in a sunbeam.<br/>
    The Earth is a very small stage in a vast cosmic arena. Think of the rivers of
    blood spilled by all those generals and emperors so that in glory and triumph they
    could become the momentary masters of a fraction of a dot. Think of the endless
    cruelties visited by the inhabitants of one corner of this pixel on the scarcely
    distinguishable inhabitants of some other corner. How frequent their
    misunderstandings, how eager they are to kill one another, how fervent their
    hatreds. Our posturings, our imagined self-importance, the delusion that we have
    some privileged position in the universe, are challenged by this point of pale light.
    Our planet is a lonely speck in the great enveloping cosmic dark. In our obscurity –
    in all this vastness – there is no hint that help will come from elsewhere to save
    us from ourselves.<br/>
    The Earth is the only world known, so far, to harbor life. There is nowhere else, at
    least in the near future, to which our species could migrate. Visit, yes. Settle, not
    yet. Like it or not, for the moment, the Earth is where we make our stand. It has been
    said that astronomy is a humbling and character-building experience. There is perhaps
    no better demonstration of the folly of human conceits than this distant image of our
    tiny world. To me, it underscores our responsibility to deal more kindly with one
    another and to preserve and cherish the pale blue dot, the only home we've ever
    known." <br/>
    <span style="font-style: normal">
      - Carl Sagan on the photograph of Earth taken by the Voyager 1 space probe from a
      record distance of about 6 billion kilometers on February 14, 1990.
    </span>
  </p>
</div>
